@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    @apply antialiased text-slate-900 bg-white dark:bg-slate-950 dark:text-slate-50;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
